.homepage-wrap {
    width: 100%;
    height: 100%;
    font-family: var(--font-fam);
}

.homepage-wrap .homepage-landing-top {
    width: 100%;
    height: 15%;
}

.homepage-wrap .homepage-main {
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
    height: 85%;
}
