.resultdisp-wrap {
    width: 77%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
