.filter-element-wrap {
    width: 90%;
    height: 90%;
    text-align: center;
    background-color: #757575;
    border-radius: 25px;
    color: white;
}

.filter-element-wrap .select-wrap {
    margin-top: 13%;
    margin-left: 13%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    gap: 30%;
}
