.minisr-wrap {
  background-color: #000000;
  width: 90%;
  height: 90%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.minisr-wrap .minisrelements {
  background-color: #757575;
  border-radius: 25px;
  height: 80%;
}

#minisr-company {
  width: 19%;
  text-align: center;
  line-height: 100px;
  height: 100px;
  font-size: 1.3em;
}

#minisr-details {
  font-size: 1.2em;
  width: 40%;
  text-align: center;
  height: 100px;
  padding: 5px;
}

#minisr-price {
  width: 25%;
  text-align: center;
  line-height: 100px;
  height: 100px;
  font-size: 1.5em;
}
